/*Basic Styles*/
.-change_box_model *,
.-change_box_model *:before,
.-change_box_model *:after {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

.row {}
    .row:before, .row:after {content:' '; display:table;}
    .row:after {clear:both;}
    .row > .col {}
        .row > .col.-left {float:left;}
        .row > .col.-right {float:right;}
        .row > .col.-middle {overflow:hidden;}
        .row > .col.-part1of2 {width: 50%;}
        .row > .col.-part1of3 {width: 30%;}
        .row > .col.-part2of3 {width: 60%;}
        .row > .col.-part1of1 {width: 100%;}
        .row > .col.-part1of4 {width: 25%;}
        .row > .col.-part3of4 {width: 75%;}
        .row > .col.-part2of7 {width: 189px;}
        .row > .col.-part5of7 {width: 528px;}
