@font-face {
    font-family: 'kelson_sans_rubold';
    src: url('../fonts/kelson_sans_bold_ru.eot');
    src: url('../fonts/kelson_sans_bold_ru.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelson_sans_bold_ru.woff') format('woff'),
         url('../fonts/kelson_sans_bold_ru.ttf') format('truetype');
}

@font-face {
    font-family: 'kelson_sans_rulight';
    src: url('../fonts/kelson_sans_light_ru.eot');
    src: url('../fonts/kelson_sans_light_ru.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelson_sans_light_ru.woff') format('woff'),
         url('../fonts/kelson_sans_light_ru.ttf') format('truetype');
}

@font-face {
    font-family: 'kelson_sans_ruregular';
    src: url('../fonts/kelson_sans_regular_ru.eot');
    src: url('../fonts/kelson_sans_regular_ru.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelson_sans_regular_ru.woff') format('woff'),
         url('../fonts/kelson_sans_regular_ru.ttf') format('truetype');
}