@import "normalize.css";
@import "common.css";
@import "kelson.css";
@import "vars";
@import "mixins";

html, body {
  background: $mainBgColor;
  color: $mainFontColor;
  font-family: $lightFont;
  font-size: $baseFontSize;
}

/*Common*/
.wr {
  width: $wrapperWidth;
  margin: 0 auto;
  padding: $wrapperPadding;
}

/*Main*/
.main {
    background: $mainSectionBgColor;
    padding: $mainSectionPadding;
    @include box-shadow(0 1px 2px rgba(127,127,127,.5));
}

/*Main logo part*/
.m-logo {margin: $mainLogoSectionMargin;}

/*Header*/
.header {
  background: $mainPurpleColor;
  padding: $headerPadding;
  color: $whiteColor;
  min-width: $wrapperWidth;
}
  .menu-header {
    padding-left: 0;
    margin: 0;
    list-style: none;
    li  {
      text-transform: $textUppercase;
      display: inline-block;
      padding: $menuListPadding;
      font-size: $menuTopFontSize;
      border-right: 1px solid $whiteColor;
      a {
        color: $whiteColor;
        text-decoration: none;
        font-size: $menuTopFontSize;
      }
    }
    li:nth-last-child(3) {
      border-right:none;
    }
    .media {
        padding-left: 25px;
        background: url(../i/ico_media.png) no-repeat 3px top;
      }
    .home {
      padding-left: 25px;
      background: url(../i/ico_home.png) no-repeat 3px top;
    }  
    .no-all-style {
      border:none;
      a {
        color: $redColor;
        text-transform: none;
        text-decoration: underline;
      }
      a:hover {
        text-decoration: none
      }
    }
  }

/*footer*/
.footer {
  background: $footerBgColor;
  padding: $footerPadding;
  color: $whiteColor;
  @include box-shadow(0 1px 2px rgba(127,127,127,.5));
}

/*Main page*/

.b-slider-wr {
  width: $sliderWidth;
  height: $sliderHeight;
  padding: 10px;
  background: $whiteColor;
  @include box-shadow(0 0 18px 3px #cdd3d6)
}
  .b-slider-b-image-text {
    width: $sliderMainTopWidth;
    height: $sliderMainTopHeight;
    position: relative;
    p {
      font-family: $boldFont;
      font-size: $newsLikeAll;
      line-height: 57px;
      color: #2d2d2d;
      background: $whiteColor;
      padding: 10px;
      text-transform: $textUppercase;
      position: absolute;
      top: 35px;
      max-width: 320px;
    }
  }
  .b-slider-b-pagn-text {
      width: 210px;
      ul {
      padding: 0;
      list-style: none;
      border-bottom: 1px solid $newsListCurrentMenuColor; 
      li {
        display: inline-block;
        a {
          padding: 2px 9px 0px;
          text-decoration: none;
          color: $newsListCurrentMenuColor;
        }
        a:hover {          
          background: $newsListCurrentMenuColor;
          color: $whiteColor;          
        }
        .current-slide {          
          background: $newsListCurrentMenuColor;
          color: $whiteColor;
        }
      }
    }
    h2 {
      font-family: $boldFont;
      text-transform: $textUppercase;
      color: #2d2d2d;
      font-size: $sliderTitleFontSize;
      margin: $lightTopMargin;
    }
    p {
      font-size: $smallFontSize;
      margin: $lightTopMargin;
    }
  }

.e-search-input {
  @include search-form;
  font-family: $regularFont;
  font-size: $smallFontSize;
}
.e-search-button {
  @include search-form-button;
  font-size: 0;
  background: #f9e992 url(../i/bg-search-button.png) no-repeat center center;
}
.news-list-title {
  font-family: $regularFont;
  font-size: $titleFontSize;
  text-transform: $textUppercase;
}
.menu-filter {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background: url(../i/bg-news-list-menu.png) repeat-x;
  li {
    display: inline-block;
    padding: 12px;
    font-family: $boldFont;
    text-transform: $textUppercase;
    cursor:pointer;
  }
  li:hover {
      background: $newsListCurrentMenuColor;
      color: $whiteColor;
    }
  .current {
     background: $newsListCurrentMenuColor;
     color: $whiteColor;
  }
}
.sub-menu-filter {
  padding-left: 0;
  margin: 0;
  list-style: none; 
  background:$newsSubMenuColor;
  li {
    font-family: $normalFont;
    display: inline-block;
    padding: 15px 18px;
    font-family: $boldFont;
    font-size: $smallFontSize;
    color: $whiteColor;
    background-color: #6f437b;
    @include light-gradient-hor-center;
    cursor:pointer;
  }
  li:hover {
    @include box-shadow(inset 0 0 10px 2px rgba(0,0,0,0.4));
  }
  .current {
    @include box-shadow(inset 0 0 10px 2px rgba(0,0,0,0.4));
    background-color: #4a296f;
  }
}
.sub-menu-filter > li {
  font-family: $normalFont;
  font-weight: bold;
}
   /*News item*/
   .news-content {
      background-color: $whiteColor;
      @include box-shadow(0 2px 5px -2px);
      .-left {
        padding: $newsItemInfoPadding;
        padding-top: 0px;
      }
   }
   .left-news-wr {
    padding-top: 20px;
    border-top: 1px solid #dcdcdc;
   }
   .newsitem {
    margin-bottom: 10px;
   }
   .newsitem:nth-child(1) .-left .left-news-wr {
      border-top: 0;
    }
  .b-newsitem-date {
    color: #eb5359;
    font-size: $smallFontSize;
    margin-bottom: 5px;
    margin-top: 0;
  }
  .b-newsitem-name {
    font-family: $boldFont;
    margin: 5px 0;
    color: $blackColor;
    font-size: $newsItemTitleFontSize;
  }
    .b-newsitem-name-arr {
      @include arr-button-list;
      margin: 0 0 0 8px;
      box-shadow: 0 0 5px;
    }
      .b-newsitem-name-arr:hover {
        box-shadow: 0 0 7px;
      }
    .b-newsinfo-for{
        @include search-form-button;
        color:$whiteColor;
        line-height: 42px;
        font-size: 60px;
        text-decoration: none;
        text-align: center;
        margin-right: 2px;
    }
    .b-newsinfo-against{
        @include search-form-button;
        color:$whiteColor;
        line-height: 36px;
        font-size: 60px;
        text-decoration: none;
        text-align: center;
    }
  .newsitem-like-all {
    font-size: $newsLikeAll;
    color: #632f72;
  }
  .b-newsitem-img-text {
    h2 {
      text-transform: $textUppercase;
      font-size: $newsItemImgTextFontSize;
      margin: 5px 0 0 0;
    }
    p {
      margin: 5px 0 5px 0;
      padding-right: 20px;
      font-size: $smallFontSize;
      font-family: $regularFont;
    }
  }


    /* Right bar*/
    .widget {
      width: $widgetBlockWidth;
      margin: $widgetMargin;
        a:hover > img {
          @include box-shadow(0 2px 5px #333);
        }
    }
    .all-photo-link {
      font-size: $widgetFontSize;
    }
    .plane {
      border:3px solid #c6c6c6;
      height: 230px;
      background: #f6f5f5;
      padding: $widgetPadding;
    }    
      .title-plane {
        font-family: $regularFont;
        margin:0;
        display: inline-block;
        padding: $widgetTitlePadding;
        color: $rightWidgetTitleColor;
        border-right: 1px solid #959595;
      }
      .e-ico-plane {
        display: inline-block;
        width: 45px;
        height: 25px;
        background: url(../i/plane.png) no-repeat center center;
        margin-bottom: -5px;
      }
      .ico-plane-arr {
          @include arr-button-list;
          box-shadow: 0 0 5px;
        }
        .ico-plane-arr:hover {
          box-shadow: 0 0 7px;
        }
        .b-plane-form {
            font-family: $normalFont;
          input[type="text"] {
            width: $allWidth;
            padding: 0 10px;
            margin: 7px 0 0;
            height: 31px;
            font-size: $smallFontSize;
            background: #f6f6f6;
            border-top: 2px solid #d1d1d1;
            border-left: 1px solid #ebebeb;
            border-bottom: 2px solid #fefefe;
            border-right: 1px solid #ebebeb;
            border-radius: 5px;
          }
          .input-button {
            @include button-widget;
          }
          .link-block {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 2px dashed #c2c0ba;
          }
        }
        .b-plane-link {
          font-size: $smallFontSize;
          color: $mainFontColor;
          text-decoration: none;
          display: inline-block;
          margin: 15px 0 0 4px;
        }
        .-link-border {
          border-right: 1px solid #959595;
          padding: 0 4px 2px 0;
        }
        .-calendar {
          display: inline-block;
          width: 26px;
          height: 22px;
          margin-bottom: -6px;
          background: url(../i/calendar.png) no-repeat top left;
        }
        .b-plane-form-but {
          @include button-widget;
          margin-top: 0;
          font-weight: bold;
          text-shadow: 1px 1px 1px #fdf9e4;
          color: #1f1f1f;
          width: $allWidth;
          font-size: $smallFontSize;
          height: 32px;
        }
    .hotel {
      @extend .plane;
      border:0;
      background: #ffba00;
      
    }
    .title-hotel {
        @extend .title-plane;
      }
      .banner {

      }
      .banner-title {
        font-family: $regularFont;
        margin:0;
        padding: $widgetTitlePadding;
        color: $rightWidgetTitleColor;
        text-transform: $textUppercase;
      }
      .banner-img-text {
        position: relative;
        height: 132px;
        margin-bottom: 10px;
      }
      .banner-img {
        position: absolute;
      }
      .banner-text {
        position: absolute;
        color: $whiteColor;
        font-size: $bannerTourFontSize;
        margin: 12px;
        font-weight: 100;
        font-weight: $lightFont;
        color: #fff;
      }
      .banner-subtext {
        p {
          font-style: italic;
          color: $blackColor;
          margin: 0;
          span {
            color: #ed145b;
          }
        }
        a {
           font-size: $widgetFontSize;
           font-style: normal;
        }
      }

/*
User Page
*/
.menu-filter-red-el {
  color: #d1007b;
}
.title-widget {
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: $textUppercase;
  color: $newsSubMenuColor;
  font-family: $boldFont;
}
.search-form-bar {
  padding: 25px 14px 14px;
  background: $newsSubMenuColor;
}
.search-purp-button {
    @include button-search-form;
    color: $whiteColor;
  }
.search-purp-button:hover {
    @include button-search-form-hover;
  }
.search-purp-button:focus {
    @include button-search-form-focus;
  }
.b-user-avatar-info {

}
.b-user-avatar {
  width: 190px;
  height: 193px;
  img {
    width: 180px;
    height: 183px;
    background: #ccc;
    border: 5px solid #bba5d4;
  }
}
.b-user-info {
  width: 505px;
  h1 {
    margin: 10px 0 0;
    font-size: $titleFontSize;
    text-transform: $textUppercase;
    color: $newsSubMenuColor;
    font-family: $boldFont;
    display: inline-block;
    float: left;
    span img {
      margin-bottom: 12px;
    }
  }
  p {
    margin: 5px 0;
    font-size:$smallFontSize;
    span {
      display: inline-block;
      padding: 4px 6px; 
      margin-right: 10px;
      background: #e2f5fc;
      font-weight: italic;
    }    
  }
}
.e-info-user-city-age {
  color:#cd2682;
  font-style: italic;
  a {
  color:#cd2682;
  font-style: normal;
  padding: 0 0 0 10px;
  }
}
.b-user-add-but {
    @include button-add-friend;
    color: $whiteColor;
    text-decoration: none;
    float: right;
    margin-top: 15px;
}
.b-user-add-but:hover {
    @include button-add-friend-hover;
}
.b-user-add-but:active {
    @include button-add-friend-focus;
}
.b-last-action {
  background: #edf8fc;
  padding: 10px 15px 20px;
  a {
    color: #eb5359;
  }
  p {
    margin: 5px 0 5px;
  }
}
.b-action-item {
  padding: 6px 15px 10px 5px;
  border-bottom: 1px solid #d1d7e9;
  font-family: $normalFont;
  font-size: $menuTopFontSize;
}
.e-crate-time {
  font-family: $normalFont;
  font-size: 8pt;
  color: #575757;
}

/*
user photo page
*/
.b-all-photo {
  width: 717px;
}
.item-gallery-user {
  margin: 6px 12px 0 0;
  display: inline-block;
}
.item-gallery-user:nth-child(4n+4){
  margin-right: 0;
}