/*======================================================================
  Selectric
======================================================================*/
.selectricWrapper {
  position: relative;
  margin: 0 0 10px;
  width: 100%;
  cursor: pointer;
}

.selectricResponsive {
  width: 100%;
}

.selectric {
  border: 0px solid #EAF5F9;
  background: #EAF5F9;
  position: relative;
  border-radius: 4px;
  box-shadow: inset 0px 2px 8px -3px;
}
.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 31px 0 0;
  padding: 6px 15px;
  font-size: 12px;
  line-height: 19px;
  color: #777777;
  min-height: 19px;
}
.selectric .button {
  border-bottom: 1px solid #cab454;
  border-top: 1px solid #f8edc9;
  border-right: 1px solid #f2e187;
  background: #f1dc93;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f1dc93 0%, #f1dc93 30%, #fcef92 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1dc93), color-stop(30%, #f1dc93), color-stop(100%, #fcef92));
  background: -webkit-linear-gradient(top, #f1dc93 0%, #f1dc93 30%, #fcef92 100%);
  background: -o-linear-gradient(top, #f1dc93 0%, #f1dc93 30%, #fcef92 100%);
  background: -ms-linear-gradient(top, #f1dc93 0%, #f1dc93 30%, #fcef92 100%);
  background: linear-gradient(to bottom, #f1dc93 0%, #f1dc93 30%, #fcef92 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1dc93', endColorstr='#fcef92',GradientType=0 );
  color: #fff;
  border-radius: 3px;
  display: block;
  position: absolute;
  right: 0px;
  top: -1px;
  bottom: 0;
  margin: auto;
  width: 31px;
  height: 31px;
  color: #FFFFFF;
  text-align: center;
  font: 0/0 a;
  /* IE Fix */
  *font: 31px/31px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0px;
  height: 0px;
  border: 4px solid transparent;
  border-top-color: #FFFFFF;
  border-bottom: none;
}

.selectricHover .selectric {
  border-color: #d1dce0;
}
.selectricHover .selectric .button {
  color: #d1dce0;
}
.selectricHover .selectric .button:after {
  border-top-color: #d1dce0;
}

.selectricOpen {
  z-index: 9999;
}
.selectricOpen .selectric {
  border-color: #d1dce0;
  background: #d1dce0;
}
.selectricOpen .selectricItems {
  display: block;
}

.selectricDisabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectricHideSelect {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}
.selectricHideSelect select {
  position: absolute;
  left: -100%;
  display: none;
}

.selectricInput {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectricTempShow {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectricItems {
  display: none;
  position: absolute;
  margin: 0 0 0 2px;
  top: 100%;
  left: 0;
  width: 98.6% !important;
  background: #eaf5f9;/* 
  border: 1px solid #CCC; */
  z-index: -1;
  box-shadow: 0 0 5px 0;
}
.selectricItems .selectricScroll {
  height: 100%;
  overflow: auto;
}
.selectricAbove .selectricItems {
  top: auto;
  bottom: 100%;
}
.selectricItems ul, .selectricItems li {
  list-style: none;
  padding: 0;
  margin: 0 4px;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
}
.selectricItems li {
  display: block;
  padding: 5px;/* 
  border-top: 1px solid #FFF; */
  border-bottom: 1px solid #e0ebef;
  color: #666;
  cursor: pointer;
}
/* .selectricItems li.selected {
  background: #EFEFEF;
  color: #444;
  border-top-color: #E0E0E0;
} */
/* .selectricItems li:hover {
  background: #E0EEF3;
  color: #444;
} */
.selectricItems li.disabled {
  background: #F5F5F5;
  color: #BBB;
  border-top-color: #FAFAFA;
  cursor: default;
}
