/*Colors*/
$mainBgColor: #eeeeee;
$mainFontColor: #777777;
$mainPurpleColor: #593c85;
$whiteColor: #fff;
$blackColor: #000;
$redColor: #eb5359;
$mainSectionBgColor: #f4fbfe;
$newsListDatetextColor: #eb5359;
$newsListCurrentMenuColor: #5e3c85;
$newsSubMenuColor: #5e3c85;
$rightWidgetTitleColor: #535064;
$footerBgColor: #60549e;

/*Fonts*/
$lightFont: 'kelson_sans_rulight';
$regularFont: 'kelson_sans_ruregular';
$boldFont: 'kelson_sans_rubold';
$normalFont: Tahoma;

$textUppercase: uppercase;

/*Font Size*/
$newsLikeAll: 45pt;
$bannerTourFontSize: 35pt;
$titleFontSize: 27pt;
$sliderTitleFontSize: 18pt;
$newsItemTitleFontSize: 14pt;
$newsItemImgTextFontSize: 14pt;
$baseFontSize: 12pt;
$widgetFontSize: 11pt;
$smallFontSize: 10pt;
$menuTopFontSize: 9pt;

/*Paddings*/
$wrapperPadding: 0 25px 0;
$headerPadding: 15px 0 15px;
$menuListPadding: 1px 10px 1px;
$footerPadding: 15px 25px 15px;
$mainSectionPadding: 15px 25px 15px;
$newsItemInfoPadding: 15px;
$widgetPadding: 5px 15px;
$widgetTitlePadding: 5px 10px 2px 0;

/*Margins*/
$mainLogoSectionMargin: 0 0 15px 0;
$sectionMargin: 15px;
$widgetMargin: 15px 0 0 0;
$lightTopMargin: 5px 0 0 0;
/*Sizes*/
$allWidth: 100%;
$wrapperWidth: 1024px;
$sliderWidth: 718px;
$newsListBlockWidth: 718px;
$sliderMainTopWidth:468px;
$sliderHeight: 330px;
$sliderMainTopHeight:309px;
$widgetBlockWidth: 230px;

